/* custom styles go here */
body {
  background-color: #CCC;
}

ul.products li {
    margin: 2px;
    padding: 6px;
}

ul.products:hover li {
    opacity: .5;
}

ul.products li:hover {
    background-color: #A9A9A9;
    opacity: 1;
}

.img-responsive {
    width: 80%;
    margin-top: 20px;
}

#partnerSelect {
    margin-top: 20px;
}

#hideProduct {
    float: right;
}

#hideProduct a {
      padding: 10px;
}
